/* div {
  background-color: green;
} */

@media only screen {
  div {
    background-color: black;
    border: 2px solid red;
    padding: 20px;
  }
  h2 {
    color: green;
  }
  p {
    border: 1px solid green;
    padding: 10px;
    color: white;
  }
  button {
    border: 2px solid green;
    background-color: none;
    padding: 8px 20px;
  }
}

@media only print {
  div {
    border: 2px solid black;
    padding: 50px;
  }
  h2 {
    color: red;
  }
}
